<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Savollar</h4>
        </div> 
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md">
                    <thead>
                        <tr> 
                            <th><strong>Ism</strong></th>
                            <th><strong>Telefon raqam</strong></th>
                            <th><strong>Xabar</strong></th>
                            <th><strong></strong></th>
                        </tr>
                    </thead>
                    <tbody> 
                        <% for (let item of message) { %>
                        <tr>
                            <td><strong><%= item.name %></strong></td>
                            <td><%= item.phone %></td>
                            <td><%= item.message %></td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>