<style>
    .header_user{
    background-color: #2f2d51;
    width: 100%;
    height: 171px;
    position: absolute;
    top: 0;
    left: 0;
}
</style>
<div class="header_user"></div>
 <!-- COURSE
    ================================================== -->
    <div id="app">
        <div class="bg-dark pb-9 pt-8 pt-md-11">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <h1 class="me-8 text-white">
                            {{course.name}}
                        </h1>
                        <p class="me-xl-8 mb-5 text-white">{{course.title}}</p>
    
                        <a href="#" class="badge badge-lg badge-rounded-circle badge-secondary font-size-base badge-float badge-float-inside top-0 text-white">
                            <i class="far fa-heart"></i>
                        </a>
    
                        <!-- COURSE META
                        ================================================== -->
                        <div class="d-md-flex align-items-center mb-6">
                            <div class="border rounded-circle d-inline-block mb-4 mb-md-0 bg-white">
                                <div class="p-2">
                                    <img v-bind:src="'/uploads/team/' + person.image" alt="..." class="rounded-circle" width="68" height="68">
                                </div>
                            </div>
    
                            <div class="ms-md-6">
                                <div class="mb-2 d-flex align-items-center">
                                    <h6 class="mb-0 text-white font-size-sm">O'qituchi</h6>
                                    <a href="#" class="font-size-sm text-white ms-3">{{person.name}}</a>
                                </div>
    
                                <div class="mb-2 d-flex align-items-center">
                                    <h6 class="mb-0 text-white font-size-sm">Kurs</h6>
                                    <a href="#" class="font-size-sm text-white ms-3">{{course.name}}</a>
                                </div>
                            </div>
                        </div>
    
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center py-3 text-white bg-transparent border-white-10">
                                <div class="text-white d-flex icon-uxs">
                                    <!-- Icon -->
                                    <svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.3164 4.20996C13.985 4.37028 13.8464 4.76904 14.0067 5.10026C14.4447 6.00505 14.6667 6.98031 14.6667 8C14.6667 11.6759 11.6759 14.6667 8 14.6667C4.32406 14.6667 1.33333 11.6759 1.33333 8C1.33333 4.32406 4.32406 1.33333 8 1.33333C9.52328 1.33333 10.9543 1.83073 12.1387 2.77165C12.4259 3.00098 12.846 2.95296 13.0754 2.66471C13.3047 2.37663 13.2567 1.95703 12.9683 1.72803C11.5661 0.613607 9.8016 0 8 0C3.58903 0 0 3.58903 0 8C0 12.411 3.58903 16 8 16C12.411 16 16 12.411 16 8C16 6.77767 15.7331 5.60628 15.2067 4.51969C15.0467 4.18766 14.6466 4.04932 14.3164 4.20996Z" fill="currentColor"></path>
                                        <path d="M7.99967 2.66663C7.63167 2.66663 7.33301 2.96529 7.33301 3.33329V7.99996C7.33301 8.36796 7.63167 8.66663 7.99967 8.66663H11.333C11.701 8.66663 11.9997 8.36796 11.9997 7.99996C11.9997 7.63196 11.701 7.33329 11.333 7.33329H8.66634V3.33329C8.66634 2.96529 8.36768 2.66663 7.99967 2.66663Z" fill="currentColor"></path>
                                    </svg>
    
                                </div>
                                <h6 class="mb-0 ms-3 me-auto text-white">Kurs davomiyligi</h6>
                                <span>{{ course.lessontime }} oy</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center py-3 text-white bg-transparent border-white-10">
                                <div class="text-white d-flex icon-uxs">
                                    <!-- Icon -->
                                    <svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.7262 1.94825C13.4059 0.396725 10.401 0.315126 8.00002 1.73839C5.59897 0.315126 2.59406 0.396725 0.273859 1.94825C0.102729 2.06241 -3.54271e-05 2.25456 6.30651e-07 2.46027V14.6553C-0.000323889 14.8826 0.124616 15.0914 0.324917 15.1987C0.525109 15.3058 0.768066 15.294 0.9569 15.168C2.98471 13.8111 5.63063 13.8111 7.65844 15.168C7.66645 15.1735 7.67568 15.1747 7.68368 15.1796C7.69169 15.1846 7.7003 15.1932 7.70953 15.1987C7.73102 15.2079 7.75302 15.2159 7.77538 15.2227C7.79773 15.2329 7.82077 15.2415 7.84428 15.2486C7.87828 15.2564 7.91286 15.2616 7.94766 15.264C7.96551 15.264 7.98213 15.2714 7.99998 15.2714C8.00492 15.2714 8.00982 15.2714 8.01538 15.2714C8.03604 15.2699 8.05655 15.2672 8.07693 15.2634C8.10808 15.2602 8.13895 15.2547 8.16923 15.2467C8.19018 15.2399 8.21074 15.2319 8.23078 15.2227C8.24986 15.2147 8.27016 15.2104 8.28862 15.2006C8.29724 15.1956 8.30402 15.1883 8.31264 15.1827C8.32125 15.1772 8.3311 15.1753 8.33971 15.1698C10.3675 13.8129 13.0134 13.8129 15.0413 15.1698C15.3233 15.3595 15.7057 15.2846 15.8953 15.0026C15.9643 14.9 16.0008 14.779 16 14.6554V2.46027C16 2.25456 15.8973 2.06241 15.7262 1.94825ZM7.38462 13.6036C5.43516 12.6896 3.18022 12.6896 1.23076 13.6036V2.79993C3.12732 1.67313 5.48806 1.67313 7.38462 2.79993V13.6036ZM14.7692 13.6036C12.8198 12.6896 10.5648 12.6896 8.61538 13.6036V2.79993C10.5119 1.67313 12.8727 1.67313 14.7692 2.79993V13.6036Z" fill="currentColor"></path>
                                    </svg>
    
                                </div>
                                <h6 class="mb-0 ms-3 me-auto text-white">Darslar</h6>
                                <span>{{ course.lesson }}</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center py-3 text-white bg-transparent border-white-10">
                                <div class="text-white d-flex icon-uxs">
                                    <!-- Icon -->
                                    <svg width="20" height="20" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.5465 5.13024L15.2322 4.02945L14.9329 2.34131C14.8335 1.78023 14.348 1.37335 13.7783 1.37335C13.778 1.37335 13.7775 1.37335 13.7772 1.37335L12.0628 1.37488L10.7485 0.274205C10.3114 -0.0919028 9.67738 -0.0913556 9.24091 0.275574L7.92861 1.37875L6.2142 1.38035C5.64405 1.3809 5.15872 1.78887 5.06026 2.35042L4.76408 4.03907L3.45178 5.14228C3.01535 5.50917 2.90582 6.13362 3.19137 6.62712L4.04992 8.1111L3.75378 9.79967C3.65524 10.3613 3.97276 10.91 4.50875 11.1046L5.9543 11.6292L5.95989 18.8268C5.95989 19.2647 6.20095 19.6629 6.58899 19.8659C6.76059 19.9556 6.94712 20 7.13295 20C7.36737 20 7.60062 19.9294 7.8013 19.7901L9.9861 18.2734L12.1709 19.7901C12.5306 20.0398 12.9951 20.0689 13.3832 19.8659C13.7712 19.6629 14.0123 19.2647 14.0123 18.8268V11.6377L15.5005 11.0945C16.0361 10.899 16.3526 10.3496 16.2531 9.78825L15.9538 8.10015L16.8096 6.61461C17.0943 6.12056 16.9836 5.49631 16.5465 5.13024ZM10.3205 17.078C10.1194 16.9385 9.85281 16.9385 9.65178 17.078L7.13264 18.8265C7.13264 18.8264 7.13264 18.8263 7.13264 18.8263L7.12842 13.3771C7.35154 13.6218 7.66652 13.7592 7.99315 13.7592C8.12738 13.7592 8.26357 13.7361 8.39608 13.6877L10.0065 13.0999L11.6181 13.6848C12.0517 13.842 12.5242 13.7298 12.8396 13.4196L12.8395 18.8266L10.3205 17.078ZM14.9377 7.51475C14.8003 7.75327 14.7511 8.03382 14.7992 8.30482L15.0984 9.99292L13.4878 10.5808C13.286 10.6545 13.1095 10.783 12.9761 10.949C12.9697 10.9566 12.9639 10.9647 12.9579 10.9727C12.9277 11.0123 12.899 11.0533 12.8739 11.0969L12.0185 12.5825C12.0185 12.5825 12.0183 12.5825 12.0181 12.5824L10.4065 11.9976C10.1478 11.9037 9.86297 11.9039 9.6044 11.9983L7.99393 12.5861L7.13538 11.1022C7.08925 11.0224 7.03339 10.9496 6.97073 10.8835C6.96507 10.8774 6.95975 10.871 6.95381 10.8652C6.83236 10.7425 6.68464 10.6468 6.52039 10.5871L4.90882 10.0022L5.205 8.31358C5.2525 8.04245 5.20277 7.76199 5.06495 7.52378L4.20639 6.03984L5.51869 4.93663C5.72942 4.75952 5.87163 4.51263 5.91912 4.24159L6.2153 2.55298L7.92963 2.55138C8.20489 2.55114 8.47254 2.45346 8.68319 2.27635L9.99549 1.17318L11.3098 2.27389C11.5205 2.45041 11.7879 2.54759 12.0629 2.54759H12.0638L13.7783 2.54602L14.0775 4.23416C14.1255 4.50517 14.2682 4.75166 14.4792 4.92842L15.7935 6.02921L14.9377 7.51475Z" fill="currentColor"></path>
                                        <path d="M9.99928 3.64673C8.13493 3.64673 6.61816 5.1635 6.61816 7.02785C6.61816 8.89221 8.13493 10.409 9.99928 10.409C11.8636 10.409 13.3804 8.89221 13.3804 7.02785C13.3804 5.1635 11.8636 3.64673 9.99928 3.64673ZM9.99928 9.23631C8.78154 9.23631 7.79083 8.2456 7.79083 7.02785C7.79083 5.81011 8.78154 4.8194 9.99928 4.8194C11.217 4.8194 12.2078 5.81011 12.2078 7.02785C12.2078 8.2456 11.217 9.23631 9.99928 9.23631Z" fill="currentColor"></path>
                                    </svg>
    
                                </div>
                                <h6 class="mb-0 ms-3 me-auto text-white">Sertifikat</h6>
                                <span>Beriladi</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center py-4 bg-transparent border-white-10">
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-lg-6">
                        <a href="../../watch.html?v=9I-Y6VQ6tyI" class="d-block sk-thumbnail img-ratio-1 rounded mb-5" data-fancybox="">
                            <div class="h-60p w-60p rounded-circle bg-white size-20-all d-inline-flex align-items-center justify-content-center position-absolute center z-index-1">
                                <!-- Icon -->
                                <svg width="14" height="16" viewbox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.8704 6.15374L3.42038 0.328572C2.73669 -0.0923355 1.9101 -0.109836 1.20919 0.281759C0.508282 0.673291 0.0898438 1.38645 0.0898438 2.18929V13.7866C0.0898438 15.0005 1.06797 15.9934 2.27016 16C2.27344 16 2.27672 16 2.27994 16C2.65563 16 3.04713 15.8822 3.41279 15.6591C3.70694 15.4796 3.79991 15.0957 3.62044 14.8016C3.44098 14.5074 3.05697 14.4144 2.76291 14.5939C2.59188 14.6982 2.42485 14.7522 2.27688 14.7522C1.82328 14.7497 1.33763 14.3611 1.33763 13.7866V2.18933C1.33763 1.84492 1.51713 1.53907 1.81775 1.3711C2.11841 1.20314 2.47294 1.21064 2.76585 1.39098L12.2159 7.21615C12.4999 7.39102 12.6625 7.68262 12.6618 8.01618C12.6611 8.34971 12.4974 8.64065 12.2118 8.81493L5.37935 12.9983C5.08548 13.1783 4.9931 13.5623 5.17304 13.8562C5.35295 14.1501 5.73704 14.2424 6.03092 14.0625L12.8625 9.87962C13.5166 9.48059 13.9081 8.78496 13.9096 8.01868C13.9112 7.25249 13.5226 6.55524 12.8704 6.15374Z" fill="currentColor"></path>
                                </svg>
    
                            </div>
                            <img class="rounded shadow-light-lg" v-bind:src="'/uploads/course/' + course.image" alt="...">
                        </a>
    
                        <div class="d-flex align-items-center mb-2">
                            <ins class="h2 mb-0 text-white">{{course.price}}</ins>
                            <!-- <del class="ms-3">339.99</del>
                            <div class="badge badge-lg badge-purple text-white ms-auto fw-normal">91% Off</div> -->
                        </div>
    
                        <div class="d-flex align-items-center mb-6">
                            <!-- Icon -->
                            <!-- <svg width="20" height="20" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.99974 3.0083C5.79444 3.0083 2.37305 6.42973 2.37305 10.635C2.37305 14.8405 5.79448 18.2619 9.99974 18.2619C14.2053 18.2619 17.6264 14.8405 17.6264 10.635C17.6264 6.42973 14.205 3.0083 9.99974 3.0083ZM9.99974 16.8797C6.55666 16.8797 3.7555 14.0783 3.7555 10.6353C3.7555 7.19219 6.55662 4.39103 9.99974 4.39103C13.4428 4.39103 16.244 7.19219 16.244 10.6353C16.244 14.0785 13.4428 16.8797 9.99974 16.8797Z" fill="currentColor"></path>
                                <path d="M12.1193 10.4048H10.2761V7.73202C10.2761 7.35022 9.9666 7.04077 9.5848 7.04077C9.20301 7.04077 8.89355 7.35022 8.89355 7.73202V11.0961C8.89355 11.4779 9.20301 11.7873 9.5848 11.7873H12.1194C12.5012 11.7873 12.8106 11.4779 12.8106 11.0961C12.8106 10.7143 12.5011 10.4048 12.1193 10.4048Z" fill="currentColor"></path>
                                <path d="M6.08489 15.5823C5.80102 15.3267 5.36391 15.35 5.10864 15.6336L3.0349 17.9378C2.77935 18.2214 2.80263 18.6585 3.08627 18.9138C3.2183 19.033 3.38372 19.0915 3.54849 19.0915C3.73767 19.0915 3.92614 19.0143 4.06255 18.8625L6.13629 16.5583C6.3918 16.2746 6.36852 15.8375 6.08489 15.5823Z" fill="currentColor"></path>
                                <path d="M16.9661 17.9381L14.8924 15.634C14.6375 15.3501 14.2002 15.327 13.9163 15.5826C13.6325 15.8379 13.6097 16.275 13.865 16.5586L15.9387 18.8628C16.0749 19.0144 16.2633 19.0916 16.4525 19.0916C16.6171 19.0916 16.7825 19.033 16.9147 18.9141C17.1986 18.6588 17.2214 18.2217 16.9661 17.9381Z" fill="currentColor"></path>
                                <path d="M5.96733 1.91597C4.59382 0.571053 2.3798 0.573123 1.03211 1.92105C0.361569 2.59132 -0.00479631 3.47819 4.74212e-05 4.41826C0.00512553 5.34705 0.373327 6.21665 1.03715 6.86689C1.17172 6.99845 1.34614 7.06411 1.52078 7.06411C1.69774 7.06411 1.87469 6.99638 2.00949 6.86181L5.9726 2.8987C6.10303 2.76808 6.17584 2.59085 6.17491 2.40632C6.17401 2.22171 6.09932 2.04523 5.96733 1.91597ZM1.5966 5.31939C1.45813 5.04037 1.38414 4.73162 1.38254 4.41088C1.37953 3.84315 1.60211 3.30581 2.00949 2.89843C2.41594 2.49222 2.95328 2.28921 3.49359 2.28921C3.80949 2.28921 4.12655 2.35855 4.4187 2.49726L1.5966 5.31939Z" fill="currentColor"></path>
                                <path d="M18.9673 1.92072C17.6194 0.573026 15.4053 0.570721 14.0318 1.91564C13.9 2.04489 13.8252 2.22142 13.8242 2.40595C13.8233 2.59052 13.8963 2.76794 14.0268 2.89833L17.9899 6.86144C18.1247 6.99648 18.3016 7.06398 18.4786 7.06398C18.6532 7.06398 18.8279 6.99831 18.9622 6.86628C19.6263 6.21628 19.9945 5.34672 19.9993 4.41789C20.0042 3.47809 19.6376 2.59122 18.9673 1.92072ZM18.4028 5.3193L15.5807 2.4972C16.3729 2.12114 17.3459 2.25458 17.9899 2.89856C18.3973 3.30594 18.6199 3.84301 18.6169 4.41102C18.6152 4.73152 18.5413 5.04051 18.4028 5.3193Z" fill="currentColor"></path>
                            </svg> -->
    
                            <!-- <span class="ms-2">2 days left at this price!</span> -->
                        </div>
    
                        <div class="d-md-flex">
                           
                                <button class="btn btn-blue btn-wide mb-4 mb-md-0 me-md-3 flex-grow-1" type="button" name="button">
                                    <a href="/register">
                                    Kursga yozilish
                                </a>
                                </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    
        <div class="container">
            <div class="row pt-8">
                <div class="col-lg-10 col-xl-8 mx-lg-auto">
                    <div class="mb-8">
                        <h3 class="">Kurs haqida</h3>
                        <p class="mb-6 line-height-md">{{course.description}}</p>
                        <a class="text-teal read-more h6 d-inline-block mb-8" data-bs-toggle="collapse" href="#readcollapseExample" role="button" aria-expanded="false" aria-controls="readcollapseExample">
                            <span class="d-inline-flex align-items-center more">
                                Read More
                                <span class="d-flex align-items-center justify-content-center bg-teal rounded-circle ms-2 p-2 w-26p">
                                    <i class="fas fa-plus font-size-10 text-white"></i>
                                </span>
                            </span>
                            <span class="d-inline-flex align-items-center less">
                                Read Less
                                <span class="d-flex align-items-center justify-content-center bg-teal rounded-circle ms-2 p-2 w-26p">
                                    <i class="fas fa-minus font-size-10 text-white"></i>
                                </span>
                            </span>
                        </a>
    
                        <h3 class="mb-5">Nimalarni o'rganasiz</h3>
                        <div class="row row-cols-lg-2 mb-8">
                            <div class="col-md">
                                <ul v-for="item of learn" :key="item._id"  class="list-style-v1 list-unstyled">
                                    <li>{{item.name}}</li>
                                </ul>
                            </div>
                        </div>
    
                    </div>    
                    <div class="mb-8">
                        <h3 class="mb-6">About the instructor</h3>
            
                        <div class="d-flex align-items-center mb-6">
                            <div class="d-inline-block rounded-circle border me-6 p-2">
                                <div class="avatar avatar-size-120">
                                    <img :src="'/uploads/team/' + person.image" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="mb-0">{{person.name}}</h4>
                                <span>{{person.job}}</span>
                            </div>
                        </div>
            
                       
                        <p class="mb-6 line-height-md">
                            {{person.description}}+
                        </p>
                    </div>
                        </div>
    
                       
                    </div>
    
                </div>
    </div>
   


        

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

<script>
    var app = new Vue({ 
	el: '#app',
	data: {
        person: {
            name: "",
		    job: "",
            image: "",
            description: "",
            instagram: "",
            telegram: "",
            facebook: "",
        },
        course: {
            name: "",
		    title: "",
            lesson: "",
            description: "",
            lessontime: "",
            image: "",
            price: "",
        },
        learn: "sdd",
	},
	methods: {
		
	},
    async mounted(){
		const pathName = location.pathname 
	    const slicePath = pathName.slice(14, pathName.length);
        console.log("Id", slicePath);
	
        // Course Get All
		let resCourse = await axios.get(`/course/getAll/`)
        let courseAll = resCourse.data;
			console.log("Course all", courseAll)
        // Fiter course one
        let courseOne = courseAll.filter(function(course){
            return course._id == slicePath 
        });
        for(let item of courseOne){
            console.log(item);
            this.course.name = item.name
            this.course.title = item.title
            this.course.image = item.image
            this.course.description = item.description
            this.course.lessontime = item.lessontime
            this.course.lesson = item.lesson
            this.course.price = item.price
        }
 


        //  Team Get All
        let team = await axios.get(`/team/getAll/`)
        let teamArray = team.data
            console.log("Team all", teamArray)
        // Filter mentor
        let mentor = teamArray.filter(function(team){
            return team.course_Id == slicePath 
        });
        console.log("Mentor", mentor)

        for(let item of mentor){
            this.person.name = item.name
            this.person.job = item.job
            this.person.image = item.image
            this.person.description = item.description
            this.person.lessontime = item.instagram
            this.person.telegram = item.telegram
            this.person.facebook = item.facebook
        }
          
        console.log( "Mentor this person",  this.person);

  

        // // Learn Api ================================================

        let learn = await axios.get(`/learn/getAll/`)
        let learnArray = learn.data
			console.log("learn all", learnArray)
        //   filter learn web=============================================================
        let learnFilter = learnArray.filter(function(item){
                    return item.course_Id == slicePath
                })

        this.learn = learnFilter;
        console.log(" this.learn", learnFilter)
	 } 
	 })
  
</script>