<section class="py-8 py-md-11 pb-xl-12 bg-white" id="pupil">
    <div class="container-fluid px-xl-9">
        <div class="text-center mb-2" data-aos="fade-up">
            <h1 class="mb-1">Bizning o'quvchilarimizni fikrlari.</h1>
            <p class="font-size-lg text-capitalize mb-0">Biz Bilan Kelajagingizni Yarating.</p>
        </div>

        <div class="mx-n4 bg-is-selected" data-flickity='{"pageDots": true, "prevNextButtons": false, "cellAlign": "center", "wrapAround": true, "imagesLoaded": true}'>
            <div class="col-md-6 col-xl-4 py-md-7 py-3" data-aos="fade-up" data-aos-delay="50">
                <!-- Card -->
                <div class="card text-center p-8 py-lg-8 px-lg-9 w-lg-96 mx-auto rounded-xl lift-md">
                    <!-- Image -->
                    <div class="position-relative">
                        <div class="card-float top-0 left-0">
                            <!-- Icon -->
                            <svg width="36" height="23" viewbox="0 0 36 23" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 23L15.5 -4.76837e-06H10L2.98023e-08 23H9.5ZM29.5 23L35.5 -4.76837e-06H30L20 23H29.5Z" fill="currentColor"></path>
                            </svg>

                        </div>

                        <div class="avatar avatar-custom mb-5">
                            <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="media-body">
                            <h5 class="mb-0">Albert Cole</h5>
                            <span>Designer</span>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-4">
                        <p class="mb-0 text-capitalize">“ I believe in lifelong learning and Skola is a great place to learn from experts. I've learned a lot and recommend it to all my friends “</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 py-md-7 py-3" data-aos="fade-up" data-aos-delay="100">
                <!-- Card -->
                <div class="card text-center p-8 py-lg-8 px-lg-9 w-lg-96 mx-auto rounded-xl lift-md">
                    <!-- Image -->
                    <div class="position-relative">
                        <div class="card-float top-0 left-0">
                            <!-- Icon -->
                            <svg width="36" height="23" viewbox="0 0 36 23" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 23L15.5 -4.76837e-06H10L2.98023e-08 23H9.5ZM29.5 23L35.5 -4.76837e-06H30L20 23H29.5Z" fill="currentColor"></path>
                            </svg>

                        </div>

                        <div class="avatar avatar-custom mb-5">
                            <img src="assets/img/avatars/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="media-body">
                            <h5 class="mb-0">Alison Dawn</h5>
                            <span>WordPress Developer</span>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-4">
                        <p class="mb-0 text-capitalize">“ I believe in lifelong learning and Skola is a great place to learn from experts. I've learned a lot and recommend it to all my friends “</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 py-md-7 py-3" data-aos="fade-up" data-aos-delay="150">
                <!-- Card -->
                <div class="card text-center p-8 py-lg-8 px-lg-9 w-lg-96 mx-auto rounded-xl lift-md">
                    <!-- Image -->
                    <div class="position-relative">
                        <div class="card-float top-0 left-0">
                            <!-- Icon -->
                            <svg width="36" height="23" viewbox="0 0 36 23" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 23L15.5 -4.76837e-06H10L2.98023e-08 23H9.5ZM29.5 23L35.5 -4.76837e-06H30L20 23H29.5Z" fill="currentColor"></path>
                            </svg>

                        </div>

                        <div class="avatar avatar-custom mb-5">
                            <img src="assets/img/avatars/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="media-body">
                            <h5 class="mb-0">Daniel Parker</h5>
                            <span>Front-end Developer</span>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-4">
                        <p class="mb-0 text-capitalize">“ I believe in lifelong learning and Skola is a great place to learn from experts. I've learned a lot and recommend it to all my friends “</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 py-md-7 py-3" data-aos="fade-up" data-aos-delay="200">
                <!-- Card -->
                <div class="card text-center p-8 py-lg-8 px-lg-9 w-lg-96 mx-auto rounded-xl lift-md">
                    <!-- Image -->
                    <div class="position-relative">
                        <div class="card-float top-0 left-0">
                            <!-- Icon -->
                            <svg width="36" height="23" viewbox="0 0 36 23" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 23L15.5 -4.76837e-06H10L2.98023e-08 23H9.5ZM29.5 23L35.5 -4.76837e-06H30L20 23H29.5Z" fill="currentColor"></path>
                            </svg>

                        </div>

                        <div class="avatar avatar-custom mb-5">
                            <img src="assets/img/avatars/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="media-body">
                            <h5 class="mb-0">Albert Cole</h5>
                            <span>Designer</span>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-4">
                        <p class="mb-0 text-capitalize">“ I believe in lifelong learning and Skola is a great place to learn from experts. I've learned a lot and recommend it to all my friends “</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- internet orqali brouzerlarda ishlaydigan texnologiyalar
    Web dasturlash -->
<!-- 
    Bu kursimiz hozirgi kunda talab ko'payib borayotgan web dasturlash haqida. 
    Web dasturlash o'zi nima. Web dasturlash - bu Internet ( World Wide Web ) yoki Internet (xususiy tarmoq) uchun veb-sayt yaratish bilan bog'liq ish . Web dastrulash 2 ga bo'linadi 
    Frontend (front-end) o’zbek tilida «Oldindagi (ustki) tomon» veb saytlarning klient tomoni ya'ni foydalanuvchiga kurinib turadigan interfeyslarini yaratish uchun yordam beradi bizga. Backend (backend, bak-end) esa Frontendning aksi hisoblanib, qaysidir narsaning ichki, yoki orqa tomoni degan ma’noni anglatadi. 

    Bu kursda siz sifatli, tezkor, zamonaviy veb saytlarni va online platformalarni qilishni o'rganasiz. Web dastrulashni to'liq Frontend qismini ham Backend qismini ham o'rganib chiqasiz va Full stack dasturchi bo'lasiz.







    Samandar Masatov web dasturchi 2019 yil web dasturlash sohasiga kirib kelgan Web dasturlashning 
    Frontend qismi buyicha PDP akademyasida o'qigan, Backend qismi buyicha UMD Soft o'quv markazida 
    o'qib va UMD Soft firmasida ishlagan shu davrda mechta-posuda.uz va kelajak.biz veb saytlarini 
    yaratib bergan. Hozirda siz foydalanib turgan tasnim.uz veb saytini ham yaratib bergan
    
 -->