<div class="col-lg-9 col-md-9 col-sm-12">					   
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="dashboard_container">
                <div class="dashboard_container_header">
                    <div class="dashboard_fl_1">
                        <h4>Setup Your Detail</h4>
                    </div>
                </div>
                <div class="dashboard_container_body p-4">
                    <!-- Basic info -->
                    <div class="submit-section">
                        <div class="form-row">
                        
                            <div class="form-group col-md-6">
                                <label>Your Name</label>
                                <input type="text" class="form-control" value="Shaurya Preet">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="email" class="form-control" value="preet77@gmail.com">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label>Your Title</label>
                                <input type="text" class="form-control" value="Web Designer">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                <input type="text" class="form-control" value="123 456 5847">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label>Address</label>
                                <input type="text" class="form-control" value="522, Arizona, Canada">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label>City</label>
                                <input type="text" class="form-control" value="Montquebe">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label>State</label>
                                <input type="text" class="form-control" value="Canada">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label>Zip</label>
                                <input type="text" class="form-control" value="160052">
                            </div>
                            
                            <div class="form-group col-md-12">
                                <label>About</label>
                                <textarea class="form-control">Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12">
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </div>
                    <!-- Basic info -->
                    
            
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Row -->
    
</div>