<div class="col-lg-9 col-md-9 col-sm-12">					   
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="dashboard_container">
                <div class="dashboard_container_header">
                    <div class="dashboard_fl_1">
                        <h4>Tasnim Texnologiya Akademiyasi Haqida Fikringizni tashlang</h4>
                    </div>
                </div>
                <div class="dashboard_container_body p-4">
                    <!-- Basic info -->
                    <div class="submit-section">
                            
                            <div class="form-group col-md-12">
                                <label>About</label>
                                <textarea class="form-control">Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12">
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                    
                    </div>
                    <!-- Basic info -->
                    
            
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Row -->
    
</div>